* {
    margin: 0;
    padding: 0;
  }
  .slider {
    width: 60%;
    margin: 0 auto;
  }
  .slick-slide img {
    width: 100%; 
  }
  .slick-slide {
    margin: 0 80px 0; 
  }
  .slick-slide:not(.slick-center) {
    opacity: 0.5;
  }

  .slick-arrow {
    z-index:20; 
  }
  .slide-arrow{
    position: absolute;
    top: 40%;
  }
  .prev-arrow{
    left: 30px;
  }
  .next-arrow{
    right: 30px;
  }
  
  .slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '●';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: red; 
}

.slick-prev
{
  left: 50px;
}
.slick-next
{
  right: 50px;
}

.slick-prev:before,
.slick-next:before
{
    color: red;
}